<% span = block.span.to_i %>

<div class="<%= "col-span-#{span}" if span.positive? %> <%= block.css_classes %>">
  <% block.children.each do |child_block| %>
    <%= render child_block.to_partial_path(:public), block: child_block, parent: block %>
  <% end %>
</div>
