<div class="<%= "px-30" if block.ancestors.size == 0 %>">
  <% if block.file.attached? %>
    <% metadata = block.file.metadata %>
    <%= image_tag url_for(block.file.variant(resize_to_fit: [1200, nil])),
                  style: "max-width:100%;background-color: #{metadata['dominant_color']}",
                  width: metadata['width'],
                  height: metadata['height'],
                  loading: :lazy %>
  <% end %>
</div>
