<div class="p-5 mt-15 md:mt-10 md:p-10">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-y-10 gap-x-15 items-center">
    <div class="order-2 md:order-1 col-span-1 md:col-span-7">
      <%= render @page.fixed_elements.named(:project_description) %>
    </div>

    <div class="order-1 md:order-2 col-span-1 md:col-span-5 text-center">
      <p class="text-sm font-mono underline underline-offset-4 decoration-1 uppercase text-rose-500"><%= @page.title %></p>
    </div>
  </div>
</div>

<div class="flex flex-col gap-y-5 md:gap-y-15">
  <%= render_elements %>
</div>
