<div class="card" id="<%= dom_id(block) %>">
  <%= render 'comfy/admin/cms/blocks/header', block: block %>

  <div class="row card-body">
    <% block.children.each do |child_block| %>
      <%= render child_block.to_partial_path, block: child_block %>
    <% end %>
  </div>

  <%= render 'comfy/admin/cms/blocks/new_child_picker', block: block %>
</div>
