<%
  @pagy, @posts = pagy_countless(Comfy::Cms::Page.find_by!(slug: 'posts').children.reorder(position: :desc), limit: 6)
%>

<div id="posts-list" data-turbo-permanent>
  <%= render 'comfy/cms/content/home_posts_list', pagy: @pagy, posts: @posts %>
</div>
